<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mars Scraping Y'all!!!</h1>
      <p>Why is Rocco always #STUNTIN and FRONTIN???</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>


    <h2>Latest Mars News</h2>
    <h3>{{ scrape_payload.news_title }}</h3>
    <h3>{{ scrape_payload.news_desc }}</h3>
    <hr>
    <div class="row">
      <div class="col-sm-8">
        <h2>Featured Mars Image</h2>
        <img class="img-responsive" src="{{ scrape_payload.featured_image_url }}" alt="Mars Featured Image">
      </div>
      <div class="col-sm-4">
        <h3>Latest Mars Weather</h3>
        <p>{{ scrape_payload.latest_weather_tweet }}</p>
        <br>
        <h3>Mars Facts</h3>
        {{scrape_payload.mars_facts_html_table | safe }}
      </div>
    </div>
    <h2>Mars Hemispheres</h2>
    <div class="row">
      <div class="col-sm-6">
        <img class="img-responsive" src="{{ scrape_payload.valles_img_url }}" alt="Valles Hemisphere">
        <h3>{{scrape_payload.valles_title}}</h3>
      </div>
      <div class="col-sm-6">
        <img class="img-responsive" src="{{ scrape_payload.cerberus_img_url }}" alt="Cerberus Hemisphere">
        <h3>{{scrape_payload.cerberus_title}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img class="img-responsive" src="{{ scrape_payload.schiap_img_url }}" alt="Schiaparelli Hemisphere">
        <h3>{{scrape_payload.schiap_title}}</h3>
      </div>
      <div class="col-sm-6">
        <img class="img-responsive" src="{{ scrape_payload.syrtis_img_url }}" alt="Syrtis Hemisphere">
        <h3>{{scrape_payload.syrtis_title}}</h3>
      </div>
    </div>
  </div>
  </div>
</body>

</html>
